Package: com.heaven.gd120hz
Name: gd120hz
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: heaven
Author: heaven
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
